* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--title {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--page_title {
    color: #DEEBF8;
    font-weight: 600;
} 

.nav--icon {
    margin-right: 7px;
}

.main--container {
    padding: 57px 27px;
    color: white;
    background-image: url(./assets/react.svg);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position-x: 113%;
    background-position-y: 100%;
    
}

.main--icon {
    
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.02em;
}

.main--fact_list {
    margin-top: 46px;
}

.main--fact_list > li {
    padding-block: 6px;
}

.main--fact_list > li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}
